*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#0f172a;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.signup-box{
    width:400px;
    background:#1e293b;
    padding:40px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,0,0,.4);
}

.signup-box h1{
    color:white;
    margin-bottom:10px;
}

.signup-box p{
    color:#94a3b8;
    margin-bottom:25px;
}

input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:none;
    border-radius:8px;
    outline:none;
}

button{
    width:100%;
    padding:14px;
    background:#3b82f6;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

button:hover{
    background:#2563eb;
}

.login-link{
    margin-top:20px;
    color:white;
}

.login-link a{
    color:#3b82f6;
    text-decoration:none;
}

@media(max-width:500px){

.signup-box{

width:90%;
padding:30px;

}

}